  body{
        margin: 0;
        font-family: 'Poppins', sans-serif;
        /* margin-top: -42px; */
    }

    .container{
        padding: 60px;
    }

    span{
        font-weight: bolder;
        color: orange;
    }

    section{
        height: 500px;
        padding-bottom: 150px;
    }
    p{
        color: dimgray;
        padding-right: 35px;
        margin-bottom: 55px;
        margin-top: 35px;
        
    }
  h1 span{
      font-size:40px;
  }


    

    .top-banner{
        display: flex;
    }

    #banner-text{
        display: block;
        padding: 2%;
    }

    .half-width{
        width:40%;
        
        margin-left: 49px;
        padding-left: 2%;
        
    }


    .anchor-button{
        text-decoration: none;
        background: linear-gradient( 53deg, #e6d643, #ff1616);
        padding: 10px 40px;
        border-radius: 40px;
        color: white;
        font-weight: 700;
    }

    /* ---------------------about_me_section starts --------------------------------*/

    .about_me_section{
        display: flex;
        background-image: url(shapes/7.png);
       padding-bottom: 3%;
    }

    #about_me-text{
        display: block;
        padding: 10%;
    }



    .recipi-text{
        display: block;
        text-align: center;
        padding: 3%;
        margin: 0 20rem;
    }

    /* ----------------------------------about_me_section starts -------------------------*/


    /* -----------------------------------------------cards design starts --------------------------*/

    .cards{
        display: flex;
        padding: 2%;
        width: 100%;
        box-shadow: 2px 4x 7px white;
    }

    .card-item{
        width: 45%;
        padding: 20px;
        box-shadow: 27px 10px 38px -3px rgb(0 0 0 / 81%);
        margin: 0 50px;
        border-radius: 7%;

    }


    

    .card-item img{
        width: 100%;
        height: 50%;
    }

        /* -----------------------------------------------cards design ends --------------------------*/



    /*------------------------------------- public-reach start---------------------- */

    .public-reach{
        display: flex;
        width: 100%;
        height: 0rem;

         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         box-shadow: 27px 10px 38px -3px rgb(0 0 0 / 81%);
         margin-top: 80px;
        

        
   

    }
    

    public-reach-items{
        

        width: 45%;
        padding: 20px;
        box-shadow:1px -1px 38px 14px rgb(0 0 0 / 81%);
        margin: 0 50px;
        border-radius: 7%;
        align-items: center;
    }

    public-reach-items h1{
        font-weight: bolder;
    }


    /*------------------------------------- public-reach end---------------------- */




/* ---------------------------------footer start -------------------------*/

    footer{
        padding: 1% 10%;
        background: #056676;
        text-align: center;
        margin-top: 40px;
    }
    
    
    footer a,p{
        color: white;
        margin: 0 10px;
    }
    
    footer a:hover{
        color: black;
    }

    .social-link{
        text-align: center;
        display: block
        margin: 0 20px;
    }
    

    .header-text{
        margin: 30px 0;
    }



    /* --------------------footer end------------------------------------------------------------ */
